<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".jar" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol allowKeepAlive="false">
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
